BETFAIR_APP_KEY=your_app_key_here
BETFAIR_USERNAME=your_username_here
BETFAIR_PASSWORD=your_password_here
BETFAIR_CERT_PATH=betfair/certs/client-2048.crt
BETFAIR_KEY_PATH=betfair/certs/client-2048.key
